
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:"Inter", sans-serif;
}
.btn{
  background-color: #EAECF0;
  text-decoration: none;
  color: #101828;
  /* @include btn_md_font; */
  width: 85%;
  height: 76px;
  margin: auto;
  display: flex;
  border: 1px solid #EAECF0;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  padding: 24px 32px;
  border-radius: 8px;
  margin-bottom: 30px;
  font-family:Inter, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  
}
.container{
  background-color: #F4F5F7;
}
.container{
  height: 170vh;
}
.bubble{
  display: flex;
  justify-content: center;
  padding-top: 3em;
}
.forward_md{
  position: absolute;
  margin-left: 20em;
  
}
.forward_sm{
  display: none;
}
.tweet{
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family:"Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.slak{
  text-align: center;
  display: none;
}
.all_links{
  display: block;
}
.socials{
  display:flex;
  justify-content:center;
  margin-bottom: 4em;
}
.socials img{
  padding: 1em;
}
.line{
  width: 80%;
  margin: auto;
  color: #EAECF0;
}
.footer{
  display: flex;
  justify-content: space-around;
  margin-top: 1.2em;

}
.text{
  color: #667085;
  padding: 0.5em;
  font-family:"Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* CONTACT PAGE STYLES */
.cart{
  width: 55%;
  height: 100vh;
  margin: auto;
  margin-top: 5em;
  background-color: #fff;
}
.top_content h1 {
  font-style: normal;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #101828;

}
.top_content p{
  color: #475467;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  margin-top: 0.5em;
}
.input_content{
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}
label{
  font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #344054;
}
.f_name{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color:  #667085;
  padding: 10px 14px;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);  
width: 348px;
height: 44px;
margin-top: 0.5em;
gap: 8px;


}
.lname{
  margin-right: 1em;
}
.l_name{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color:  #667085;
  padding: 10px 14px;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
width: 348px;
height: 44px;
  margin-top: 0.5em;
  gap: 8px;
}
.mail{
  margin-top: 1em;
}
.e_mail{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color:  #667085;
  padding: 10px 14px;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
width: 720px;
height: 44px;
  margin-top: 0.5em;
  gap: 8px;
}
.area{
  margin-top:1em ;
}
.textarea{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:  #667085;
    padding: 12px 14px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  width: 720px;
  height: 132px;
    margin-top: 0.5em;
    gap: 8px;
}
.check{
  margin-top: 1em;
}
.box{
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #475467;
}

.wrapper{
  margin-top: 1em;
}
.pill{
  font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color:#fff ;
  background: #1570EF;
  border: 1px solid #1570EF;
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
width: 720px;
height: 48px;
}
.line_two{
  width: 95%;
  color: #EAECF0;
  margin-top: 5em;
  margin-left: 1em;

}
.footer_two{
  display: flex;
  justify-content: space-around;
  margin-top: 1.5em;

}
.tick{
  /* Width20px
Height
20px
Top
2px
Radius
6px */
width: 20px;
border-radius: 6px;
height: 20px;
margin-top: 2px;

}

@media(max-width:720px){
  .row{
    margin-left: 0em;
  }
  .tweet{
    text-align: center;
    margin-top: 1em;
    font-family:"Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }
  .container{
    height: 125vh;
  }
  .btn{
    background-color: #EAECF0;
    text-decoration: none;
    color: #101828;
    width: 85%;
    height: 76px;
    margin: auto;
    display: flex;
    border: 1px solid #EAECF0;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    padding: 24px 32px;
    border-radius: 8px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  .forward_md{
    position: absolute;
    margin-left: 20em;
    display: none;
  }
  .forward_sm{
    display: block;
    position: absolute;
    margin-left: 9em;
  }
  .text{
    color: #667085;
    padding: 0.5em;
    font-family:Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-left: 1em;
  }
  .footer{
    display: block;
    margin-top: 1.5em;
    padding: 0.5em;

  }
  .footer img{
    margin-left: 1em;
  }
  .line{
    width: 90%;
    margin: auto;
    color: #EAECF0;
  }
  /* CONTACT PAGE MEDIA STYLES */
  .cart{
    width: 92%;
    height: 120vh;
    margin: auto;
    /* border: solid; */
    margin-top: 3em;
  }
  .top_content h1 {
    font-style: normal;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: #101828;
  
  }
  .top_content p{
    color: #475467;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
    margin-top: 0.5em;
  }
  .input_content{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
  }
  label{
    font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
  }
 .lname{
  margin-top: 1em;
 }
 .mail{
  margin-top: 1em;
 }
 .f_name{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color:  #667085;
  padding: 10px 14px;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);  
width: 343px;
height: 44px;
margin-top: 0.5em;
gap: 8px;


}

.l_name{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color:  #667085;
  padding: 10px 14px;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
width: 343px;
height: 44px;
  margin-top: 0.5em;
  gap: 8px;
}
 .e_mail{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color:  #667085;
  padding: 10px 14px;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
 width: 343px;
 height: 44px;
  margin-top: 0.5em;
}
.textarea{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color:  #667085;
  padding: 12px 14px;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
width: 343px;
height: 132px;
  margin-top: 0.5em;
  gap: 8px;
}
.check{
  margin-top: 1em;
}
.pill{
  padding: 12px 20px;
gap: 8px;
width: 343px;
height: 48px;
}
.footer_two{
  display: block;
  margin-top: 1.5em;
  padding: 0.5em;

}
.footer_two img{
  margin-left: 1em;
}
.line_two{
  width: 90%;
  margin: auto;
  color: #EAECF0;
}

}
